.dropzone {
    border-radius: 10px;
}
.formDelete{
    display: inline;
}

td .btn-sm{
    font-size: .75rem;
    margin-right: 2px;
}

.red-icon,
.green-icon,
.pale-icon{
    display: block;
    text-align: center;
}

.red-icon{
    color: #f80c35;
}
.green-icon{
    color: #00913b;
}
.pale-icon {
    color: #d8d8d8;
}

.new-icon{
    color: #00913b;
    display: inline-block;
    margin-right: 2px;
}
.old-icon {
    color: #d8d8d8;
    display: inline-block;
    margin-right: 2px;
}

.colorOffer{
    max-width: 24px;
    max-height: 24px;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
}

.color_img_wrap{
    display: flex;
    justify-items: center;
    height: 50px;
}
.color_img{
    max-width: 24px;
    max-height: 24px;
    display: block;
    margin: auto 0 auto 15px;
    border-radius: 3px;
}

.d_item{padding:3px 5px 3px 15px;white-space:nowrap;overflow:hidden;margin-bottom:0}.d_item li{position:relative;list-style:none;line-height:1.2}.d_closed{display:none}.d_open{display:block}.d_label{display: block;position:absolute;width:15px;height:20px;left:0}.d_label::before{content:"";position:absolute;display:block;width:8px;height:8px;top:50%;left:0;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}.d_label-closed::before{border-top:4px solid transparent;border-left:8px solid #777;border-bottom:4px solid transparent;cursor:pointer}.d_label-open::before{border-left:3px solid transparent;border-right:3px solid transparent;border-top:6px solid #777;cursor:pointer}.d_label-none::before{background:#e7e7e7;border-radius:50%}.d_link{display:block;padding-left:15px;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;color:#0056b3}.d_link:hover{color:#212529}.table .d_table td,.table .d_table th{padding:.3rem .7rem;vertical-align:middle}.discount-list{padding-left:50px}.d_id{margin-left:5px;margin-right:2px;font-style:italic;color:#999}.d_btn-del{display:inline-block;width:15px;cursor:pointer;text-align:center;font-weight:700;color:red}@media only screen and (max-width:500px){.discount-list{padding-left:0}}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #007bff;
    border-color: #006fe6;
}

.d-link{
    color: #333333;
    cursor: pointer;
    transition: color .3s ease;
}
.d-link:hover{
    color: #0b2e13;
}
.d-link.d-active{
    color: darkgreen;
}
.d-product{

}
.d-id{
    display: inline-block;
    margin-left: 5px;
    color: #999;
}
.d-item{
    color:  #999;
}
.d-offer{

}
.d-offer_item{
    display: inline-block;
    margin-right: 5px;
    color: green;
}

.d-chosen{
    color: #0b2e13;
}

.select2-container .select2-selection--single{
    height: auto;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 24px;
}

